<div (click)=" suma()">{{numero}}</div>
<p>
  Selector
</p>



<select name="formuls" (change)="cambiarColor()" [(ngModel)]="selector">

  <option selected value="1">Selector 1 </option>

  <option value="2">Selector 2 </option>

  <option value="3">Selector 3 </option>

</select>


<li class="icon" *ngFor="let item of letra; ">{{item.id}}</li>